@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&&display=swap');

@mixin reset {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  button {
    border-width: 0;
    background-color: inherit;
  }
}
* {
  @include reset;
  font-size: $fontsize;
  color: $white;
  box-sizing: border-box;
  line-height: 1.75;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $titleColor;
  line-height: 1.3;
}

.align-self-end {
  align-self: flex-end;
}
