$backgroundMain: radial-gradient(farthest-side at 100%, rgb(62,39,15),rgb(18,18,18));
$titleColor: rgb(144,112,85);
$white: #FFFFFF;

$fontsize: 16px;

$md1:2100px;
$md2:1800px;
$md3:1500px;
$md4:1200px;
$md5:960px;


$containerMaxWidthCarousel: 1050px;
