main.main 
	.main__carousel.carousel(data-slider="main")
		.carousel__controls(data-slider="control")
					a(type="button").carousel__arrow.carousel__arrow-prev
						span &#8701
					a(type="button").carousel__arrow.carousel__arrow-next
						span &#8702
		.carousel__body(data-slider="body")
			.carousel__slider.active
				.carousel__img 
					img(src="../images/asset-qgowo9-big.png", alt="Slider1")
			.carousel__slider
				.carousel__img 
					img(src="../images/asset-p1vbgk-big.png", alt="Slider2")
			.carousel__slider
				.carousel__img 
					img(src="../images/asset-pmlnhm-big.png", alt="Slider3")
			.carousel__slider
				.carousel__img 
					img(src="../images/asset-ttyenk-big.png", alt="Slider4")
	.main__container.container
		.main__gallery.gallery
			.main__title
				p See product gallert
			.gallery__card
				.gallery__body
					h2.gallery__title изогнутость 1000R
					.gallery__text Радиус кривизны 1000R - это наибольший радиус кривизны у игровых мониторов. Он дает несколько преимушеств: снижает нагрузку на глаза, уменьшает количество бликов, увеличевает размет воспреимчевого изобрадения и создает больший эфект погружения. Окунитесь в виртуальные миры вокруг вас и получайте удовольствие от любимой игры и прекрасного обзора
				.gallery__img.align-self-end 
					img(src="../images/asset-dcc2vj-large.png", alt="monitor")
			.gallery__card
				.gallery__body.align-self-end 
					h2.gallery__title 165hz частота обновления
					.gallery__text Частота обновления 165 Гц что более чем в два раза больше по сравнению со стандарным 60 Гц, преврашает игры в истеное удовольствие. Реализуйте потанциал своего видеоадаптера. Забудте про разрывы изобрадения и попрощайтесь с размытиями изобрадения. Почувствуйте как ваши рефлексы преобразуються в непосредственые дейтсвия. Никогда не оглядывайтесь.
				.gallery__img
					img(src="../images/asset-laputi-large.png", alt="165HZ")